<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Travel</title>
</head>
<body>
    <header>
        <img src="/img/kali-logo-4x3.png" alt="JOnathan Travel Logo" height=100>
    </header>
    {{{body}}}
</body>
</html>