<h1>Request Group Rate</h1>
<input type="text" name="referrer" id="">
Name: <input type="text" name="name" id="fieldName">
Group Size : <input type="text" name="groupSize" id="">
email: <input type="text" name="email" id="">
<input type="submit" value="Submit">

<script>
    
</script>